* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Courier New', Courier, monospace, Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}
.addBtn,
.todosBtn,
.completedBtn,
.clearBtn,
.deleteBtn {
  border: 0.5px black solid;
  padding: 2px;
  margin: 3px;
  background-color: transparent;
  border-radius: 2px;
  box-shadow: 1px 1px 1px black;
}

.addBtn:hover,
.todosBtn:hover,
.completedBtn:hover,
.clearBtn:hover,
.deleteBtn:hover {
  border: 0.5px whitesmoke solid;
  outline: 0;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

*::-moz-scrollbar {
  width: 1px;
}

*::-moz-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
  border: 1px solid black;
}

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
  border: 1px solid black;
}

*::-webkit-scrollbar-track {
  background: white;
}
